<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Hello World (Tran Minh Quang)</h1>
  </body>
</html>
